img {
  width: 64px;
}

nav {
  width: 750px;
  align-items: center;
  margin-top: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  display: flex;
}

.right {
  display: flex;
  justify-content: flex-end;
  input {
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    height: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: black;
    background-color: rgba(94, 166, 207, 0.521);
  }
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.modal {
  width: 300px;
  border-radius: 20px;
  background-color: rgb(94, 166, 207);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 10;
  padding: 15px;
  font-size: larger;
  height: 400px;
  overflow-y: scroll;
  scrollbar-width: none;
  ul {
    li {
      margin-left: 10px;
      padding: 10px;
      background: rgba(22, 106, 145, 0.459);
      margin-bottom: 10px;
      border-radius: 20px;
      text-decoration: none;
      list-style: none;
    }
  }
  p {
    display: flex;
    justify-content: center;
  }
}
.modal::-webkit-scrollbar {
  display: none;
}
